@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
.theme-color{
    color:#FF4240;
}
.theme-bg {
    background-color:#FF4240;
}
body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }